<main class="pb-44">
  <h2 class="font-grands text-3xl text-center my-2 pt-5">Mon espace association</h2>
  <div class="flex flex-col content-center justify-center mx-auto mb-12 w-[80%]">
    <app-dashboard-nav></app-dashboard-nav>
    <div class="flex flex-col bg-zoning rounded-lg">
      <app-resident-sub-nav></app-resident-sub-nav>
      <section class="flex flex-wrap justify-center" id="dashboard-container">
        <h3 class="hidden md:inline font-grands text-3xl text-center my-2 pt-5 w-full">Suivi des animaux accueillis</h3>

        <div class="w-full mx-4 my-6">
          <table class="text-left w-full">
            <thead>
              <tr class="border-none bg-zoning text-sm font-grands">
                <th class="text-center">Nom Animal</th>
                <th class="text-center">Famille d'Accueil</th>
              </tr>
            </thead>
            <tbody>
              @for(animal of fostered; track $index) {
                <app-shelter-fostered-table [animal]="animal" class="table-line"></app-shelter-fostered-table>
              }
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
</main>
