<main class="justify-self-stretch flex-1">
  <h2 class="font-grands text-3xl text-center my-2 pt-5">Bienvenue sur votre espace personnel</h2>
    <div class="flex flex-col content-center justify-center mx-auto mb-4 w-[80%]">
      <app-dashboard-nav></app-dashboard-nav>
      <div class="font-body bg-zoning rounded-lg shadow mb-4">
        <app-dashboard-sub-nav></app-dashboard-sub-nav>
        <section class="flex flex-col flex-wrap justify-center" id="dashboard-container">
          <h3 class="font-grands text-3xl text-center my-2 pt-5 w-full">Ajouter une image</h3>

          <form class="self-center">
            <div class="m-2 hidden">
              <label for="file" class="text-center">Importer une image</label>
              <input class="bg-fond w-4/5 rounded-lg mx-auto mt-2" (change)="upload($event)" #fileUpload type="file" name="file" required/>
            </div>
            <div class="flex justify-center">
              <input type="button" value="Importer une image" class="my-3 py-2 px-4 mx-auto bg-accents2-dark text-fond transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg" (click)="fileUpload.click()"/>
            </div>
          </form>
        </section>

        @if(currentLogo) {
          <div class="flex flex-col justify-center">
            <h3 class="font-body text-2xl text-center">Votre Logo actuel</h3>
                <img class="object-fit mx-auto rounded-lg" [src]="currentLogo" alt="" />
          </div>
        }

      </div>
    </div>
</main>
