    <nav class="flex flex-wrap justify-center md:justify-start">
      <ul class="flex flex-wrap-reverse gap-x-2 mx-3 justify-center font-semibold md:justify-start md:ml-10 text-xl">
        <li><a [routerLink]="['/association/profil']" end tabIndex={0} class=dashbtn routerLinkActive="dashbtn-active">Profil</a></li>
        <li><a [routerLink]="['/association/profil/demandes']" tabIndex={0} class=dashbtn routerLinkActive="dashbtn-active">Demandes</a></li>
        <li><a [routerLink]="['/association/profil/animaux']" tabIndex={0} class=dashbtn routerLinkActive="dashbtn-active">Animaux</a></li>
      </ul>
      <div class="mx-2 grow w-[90%] h-2 bg-accents1-dark rounded-t-lg"></div>
    </nav>
