    <nav class="rounded-lg h-9">
      <ul class="rounded-t-lg flex h-9 content-center bg-accents2 justify-stretch font-semibold text-fond text-sm md:justify-start pl-2">
        <li class="rounded-tl-lg ml-2 md:rounded-none md:border-l-2 md:border-l-zoning">
          <a [routerLink]="['/association/profil']" end tabindex="0" class="block grow text-center border-r-2 border-r-zoning py-2 hover:underline md:grow-0 md:px-4 dashsubbtn" routerLinkActive="dashsubbtn-active">Mes informations</a>
        </li>
        <li class="border-r-solid">
          <a [routerLink]="['/association/profil/logo']" tabindex="0" class="block grow text-center border-r-2 border-r-zoning py-2 hover:underline md:grow-0 md:px-4 dashsubbtn" routerLinkActive="dashsubbtn-active">Ajouter une image</a>
        </li>
      </ul>
    </nav>
