<main class="h-full pt-12">
  <article class="p-12 mx-auto">
    <h2 class="font-grands text-center my-6 pb-6 text-3xl">Plan du Site</h2>
      <ul>
        <li class="font-body text-center my-6 pb-2"><a [routerLink]="['/']">Accueil</a></li>
        <li class="font-body text-center my-6 pb-2"><a [routerLink]="['/connexion']">Connexion</a></li>
        <li class="font-body text-center my-6 pb-2"><a [routerLink]="['/famille/inscription']">Inscription Famille</a></li>
        <li class="font-body text-center my-6 pb-2"><a [routerLink]="['/associaton/inscription']">Inscription Association</a></li>
        <li class="font-body text-center my-6 pb-2"><a [routerLink]="['/refuges']">Associations Partenaires</a></li>
        <li class="font-body text-center my-6 pb-2"><a [routerLink]="['/animaux']">Découvrez nos Animaux</a></li>
        <li class="font-body text-center my-6 pb-2"><a [routerLink]="['/a-propos']">Qui sommes-nous ?</a></li>
        <li class="font-body text-center my-6 pb-2"><a [routerLink]="['/faq']">Foire Aux Questions</a></li>
        <li class="font-body text-center my-6 pb-2"><a [routerLink]="['/devenir-famille-d-accueil']">Devenir Famille d'Accueil</a></li>
        <li class="font-body text-center my-6 pb-2"><a [routerLink]="['/infos-legales']">Informations Légales</a></li>
        <li class="font-body text-center my-6 pb-2"><a [routerLink]="['/rgpd']">Protection des données - RGPD</a></li>
        <li class="flex font-body justify-center my-6 pb-2"><a [routerLink]="['/plan']">Plan du site</a><p class="font-bold">&nbsp;&nbsp;(vous êtes ici)</p></li>
        <li class="font-body text-center my-6 pb-2"><a [routerLink]="['/contact']">Contact</a></li>
      </ul>
  </article>
</main>
