<main class="h-full pt-12">
  <h2 class="font-grands text-3xl text-center my-2 pt-5">Mon espace association</h2>
  <div class="flex flex-col content-center justify-center mx-auto mb-4 w-[80%]">
    <app-dashboard-nav></app-dashboard-nav>
    <div class="flex flex-col bg-zoning rounded-lg relative">
      <app-resident-sub-nav></app-resident-sub-nav>
      <section id="dahboard-container" class="flex flex-col justify-center content-center">
        <h3 class="text-center hidden md:inline font-grands text-3xl mt-4">Les animaux du refuge</h3>

        <!-- Search and Filter -->
        <form autoComplete="off" class="my-4 px-4 flex flex-wrap gap-3 justify-center md:w-1/4 md:absolute md:top-0 md:right-5 md:my-2 md:p-0 md:pr-4 md:justify-end z-10" onSubmit={handleSubmit}>

          <div class=" flex gap-x-1.5 text-center h-5">
            <label class="hidden" for="search-bar">Recherche</label>
            <input (keyup)="handleSearch(textfilter.value)" id="search-bar" name="search-bar" class="bg-fond rounded-full block pl-2 md:w-32 lg:w-full shrink-0" type="text" placeholder="Rechercher" #textfilter/>
            <span (click)="displayDropdown()" id="search-dropdown-button" role="button" class="material-symbols-outlined bg-fond rounded-full">
              arrow_drop_down
              </span>
          </div>

          <div id="search-filters" class="gap-4 flex md:bg-fond p-4 rounded-lg border-accents2 md:border-4" [class]="isHidden ? 'hidden' : ''">
            <fieldset>
              @for(espece of speciesList; track $index) {
                <div key={espece.id} class="flex gap-x-1.5 content-center mb-1">
                  <input (click)="filterSpecies($event, `${espece.id}`)" type="checkbox" id="espece_{{espece.id}}" name="espece_{{espece.id}}" value="espece_{{espece.id}}" class="species-checkbox checkbox leading-3"/>
                  <label for="espece_{{espece.id}}" class="font-grands font-semibold text-xs leading-3 self-center">{{ espece.nom }}</label>
                </div>
              }
              <div class="flex gap-x-1.5 content-center">
                <input type="checkbox" id="espece_all" name="espece_all" value="all" defaultChecked class="leading-3"/>
                <label for="espece_all" class=" font-grands font-semibold text-xs leading-3 self-center"> Tous</label>
              </div>
            </fieldset>

            <fieldset>
              <div class="flex gap-x-1.5 content-center">
                <input (click)="filterStatus($event, Sheltered.value)" type="checkbox" id="statut_En_refuge" name="satut_En_refuge" value="En refuge" class="mb-1 statut-checkbox checkbox leading-3" #Sheltered/>
                <label for="satut_En_refuge" class=" font-grands font-semibold text-xs leading-3 self-center" #status>En refuge</label>
              </div>

              <div class="flex gap-x-1.5 content-center">
                <input (click)="filterStatus($event, Fostered.value)" type="checkbox" id="statut_Accueilli" name="satut_Accueilli" value="Accueilli" class="mb-1 statut-checkbox checkbox leading-3" #Fostered/>
                <label for="satut_Accueilli" class=" font-grands font-semibold text-xs leading-3 self-center">Accueilli</label>
              </div>

              <div class="flex gap-x-1.5 content-center">
                <input (click)="filterStatus($event, Adopted.value)" type="checkbox" id="satut_Adopté" name="satut_Adopté" value="Adopté"  class="mb-1 statut-checkbox checkbox leading-3" #Adopted/>
                <label for="satut_Adopté" class=" font-grands font-semibold text-xs leading-3 self-center">Adopté</label>
              </div>

              <div class="flex gap-x-1.5 content-center">
                <input (click)="clearStatusFilter()" type="checkbox" id="statut_all" name="statut_all" value="all" defaultChecked class="leading-3"/>
                <label for="statut_all" class=" font-grands font-semibold text-xs leading-3 self-center"> Tous</label>
              </div>
            </fieldset>
          </div>
        </form>

        <div class=" self-center flex flex-wrap p-4 justify-center gap-3.5">
          @for(animal of filtered; track $index) {
            <a data-nom={animal.nom} data-espece={animal.espece.id} data-statut={animal.statut} class="animal_card animal_card--visible flex flex-col justify-between content-center relative bg-fond rounded-xl w-36 h-36 shrink-0 md:size-60"
            [routerLink]="['/association/profil/animaux', animal.id]">
              @if( animal.images_animal.length > 0 ) {
                @for(image of animal.images_animal; track $index) {
                  <img class="rounded-t-xl"
                  [src]="image.url" alt="Photo de {{ animal.nom }}"/>
                }
              } @else {
                <img class="rounded-t-xl" src="/images/animal_empty.webp" alt="Photo à venir" />
              }

              <p class="text-sm text-center font-semibold md:text-base">{{ animal.nom }}</p>
              <div class="flex flex-wrap justify-between px-2 pt-0.5">
                <div class="w-full flex justify-around content-center">
                  <p class="espece-nom text-xs italic md:text-base">{{ animal.espece.nom }}</p>
                  <p class="text-xs italic md:text-base">{{ animal.statut }}</p>
                </div>
              </div>
            </a>
          }
        </div>
      </section>
    </div>
  </div>
</main>
