<li class="flex-nowrap border-2 border-accents2-dark max-[767px]:border-b-fond md:mr-4 md:border-r-fond px-4 max-[767px]:pb-2 place-self-center md:place-self-start pl-2">
  @if (isShelter) {
    <a [routerLink]="['/association/profil']">Bonjour&nbsp;:&nbsp;{{ user.refuge?.nom }}</a>
  }
  @if (isFoster) {
    <a [routerLink]="['/famille/profil']">Bonjour&nbsp;:&nbsp;@if(user.accueillant?.prenom) { {{ user.accueillant?.prenom }} } @else { {{ user.accueillant?.nom }} }</a>
  }
</li>
<li class="border-2 border-accents2-dark max-[767px]:border-b-fond  md:border-r-fond px-4 pr-6 max-[767px]:pb-2 place-self-center md:place-self-start">
  @if (isFoster) {
    <a tabindex="0" class="hover:text-accents1-light" [routerLink]="['/famille/profil']">Mon profil</a>
  }
  @if (isShelter) {
    <a tabindex="0" class="hover:text-accents1-light" [routerLink]="['/association/profil']">Tableau&nbsp;de&nbsp;bord</a>
  }
</li>

<li id="log-out" class="border-2 border-accents2-dark place-self-center md:place-self-start pl-2">
  <p class="hover:text-accents1-light" (click)="logOut()">Se&nbsp;Déconnecter</p>
</li>
