<tr (click)="toggle()" tabindex="0" class="view text-fond text-sm bg-accents2 font-grands font-semibold p-3 border-accents2-dark border-solid border hover:bg-accents2-dark">
  <td colspan="3" scope="colgroup" class="px-2 pt-2  border-accents2-dark border-solid border">{{ demande().animal.nom}}</td>
  <td colspan="3" scope="colgroup" class="px-2 pt-2  border-accents2-dark border-solid border">Demande</td>
</tr>
<tr class="text-fond text-sm bg-accents2-light font-grands font-semibold p-3 border-accents2-dark border-solid border" [class.hidden]="isHidden">
  <td colspan="2" class="px-2 pt-2  border-accents2-light border-solid border">Refuge</td>
  <td colspan="2" class="px-2 pt-2  border-accents2-light border-solid border">Date de demande</td>
  <td colspan="2" class="px-2 pt-2  border-accents2-light border-solid border">Statut</td>
</tr>
<tr class="text-sm font-body font-semibold bg bg-fond" [class.hidden]="isHidden">
  <td colspan="2">{{demande().animal.refuge.nom}}</td>
  <td colspan="2">{{demande().date_debut}}</td>
  <td colspan="2">{{demande().statut_demande}}</td>
</tr>
