<nav class="rounded-lg">
  <ul class="rounded-t-lg flex bg-accents2 justify-stretch font-semibold text-fond text-sm md:justify-start md:pl-8">
    <li class="rounded-tl-lg pl-2 md:rounded-none md:border-l-2 md:border-l-zoning">
      <a
        [routerLink]="['/association/profil/animaux']" end tabIndex={0}
        class="block grow text-center border-r-2 border-r-zoning py-2 hover:underline md:grow-0 md:px-4 dashsubbtn"
        routerLinkActive="dashsubbtn-active"
      >
          Nos animaux
      </a>
    </li>
    <li class="border-r-solid">
      <a
        [routerLink]="['/association/profil/animaux/suivi']" end tabIndex={0}
        class="block grow text-center border-r-2 border-r-zoning py-2 hover:underline md:grow-0 md:px-4 dashsubbtn"
        routerLinkActive="dashsubbtn-active"
      >
        Suivi accueils
      </a>
    </li>
    <li class="pr-2 rounded-tr-lg md:rounded-none md:border-r-solid">
      <a
        [routerLink]="['/association/profil/animaux/nouveau-profil']" end tabIndex={0}
        class="block grow text-center border-r-2 border-r-zoning py-2 hover:underline md:grow-0 md:px-4 dashsubbtn"
        routerLinkActive="dashsubbtn-active"
      >
        Créer un profil
      </a>
    </li>
  </ul>
</nav>
